<nav class="white">
	<div class="container">

		<% # menu desktop or tablet %>
		<ul class="left hide-on-med-and-down">
			<li class="grey-text" style="margin-right: 25px;">
				M Y S T O R E
			</li>

			<%= link_to 'CADASTRE-SE', new_user_registration_path, class: 'green-text small-text-5 bold text-darken-1' %>

			<%= link_to 'Esqueci minha senha', new_user_registration_path, class: 'black-text small-text-5 bold' %>
		</ul>

		<ul class="right hide-on-med-and-down">
			<%= link_to '<i class="material-icons left">&#xE890;</i> Entrar'.html_safe, new_user_session_path, class: 'blue-text text-darken-2 small-text-3 bold' %>
		</ul>


		<% # menu mobile %>
		<ul id="slide-out" class="side-nav">
			<%= link_to '<i class="material-icons left">&#xE890;</i> Entrar'.html_safe, new_user_session_path, class: 'blue-text text-darken-2 small-text-3 bold' %>

			<%= link_to 'Esqueci minha senha', new_user_registration_path, class: 'black-text small-text-5 bold' %>

			<%= link_to '<i class="material-icons left">&#xE85E;</i> Cadastre-se'.html_safe, new_user_registration_path, class: 'green-text small-text-3 bold text-darken-1' %>
		</ul>

		<a href="#" data-activates="slide-out" class="button-collapse blue-text bold text-darken-3">
			<i class="material-icons left">&#xE5D2;</i>
			M Y S T O R E
		</a>
	</div>
</nav>