<div class="row" style="margin-top: 8%;">
  <div class="col l4 m8 s12 offset-l4 offset-m2">
    <h3 class="bold">Conecte-se</h3>

    <p class="grey-text small-text-1">
      Para acessar o sistema basta você se identificar preenchendo os campos abaixo.
    </p>

    <br/>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="input-field">
      <i class="material-icons prefix">&#xE0BE;</i>
      <%= f.label :email, 'E-mail: *' %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">&#xE897;</i>
      <%= f.label :password, 'Senha: *' %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <br/>

    <div class="table right btn-painel">
      <p class="small-text-4 text-right">
        <a href="<%= url_for new_user_password_path %>" class="bold grey-text">
          Esqueceu sua senha ? &nbsp; &nbsp; &nbsp;
        </a>
      </p>

      <%= f.submit 'Entrar', class: 'btn waves-effect waves-light btn-large right' %>
      <%= link_to 'Cadastre-se', new_user_registration_path, class: 'btn waves-effect waves-light btn-large right green' %>
    </div>

    <% end %>
  </div>
</div>