<!DOCTYPE html>
<html>

<head>
	<title>Mystore</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body class="grey lighten-4">
	
	<%= render file: 'layouts/menus/visitor' %>
	<% #render file: 'layouts/flashes/toastr' %>
	<%= render 'toastr_rails/flash' %>

	<%= yield %>

</body>
</html>
